name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y make g++
    - name: Build project
      run: make
    - name: Run tests
      run: make test
      
    - uses: actions/checkout@v4
    - name: configure
      run: ./configure
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
